# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# general
.idea
.DS_Store
*~

# package control
node_modules/
src/vendor/

# logs
npm-debug.log